{$SITE_DOMAIN::80} {
	encode zstd gzip

	header {
		# Proteções HTTP no proxy reverso
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		# HSTS ativado para conexões HTTPS com subdomínios e preload
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}

	reverse_proxy app:8080 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}
